// CUSTOM FONTS
.font-Righteous {
    font-family: 'Righteous', cursive;
}
.font-Raleway {
  font-family: 'Raleway', sans-serif;
}
.font-Lato {
  font-family: 'Lato', sans-serif;
}
// COLORS
$light-black: #121212;
$light-black-bright: #272727;
$black-bottom-right: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 1)50%, rgba(255, 255, 255, 0.2)100%);
$black-bottom-left: linear-gradient(to bottom left, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 1)50%, rgba(255, 255, 255, 0.2)100%);
$black-bottom: linear-gradient(to bottom, rgba(255, 255, 255, 0.294) 0%, rgba(0, 0, 0, 0.226));
$transparent-black: rgba(0,0,0,0.6);


.bg-dark-red {
    background-color: $red-900;
}
.bg-red-800 {
  background-color: $red-800;
} 
.bg-red-700 {
  background-color: $red-700;
}
.bg-red-600 {
  background-color: $red-600;
}   
.bg-gray-900 {
  background-color: $gray-900;
}
.bg-cream {
  background-color: #fff4ec;
} 
.bg-gray-100 {
  background-color: $gray-100;
} 
.bg-black-light {
  background-color: $light-black;
} 
.bg-transparent-black {
  background-color: $transparent-black;
} 
// GRADIENTS

.dark-red-gradient{
  background-image: linear-gradient( to bottom,$red-800,$red-900);
}
.light-red-gradient{
  background-image: linear-gradient(to right bottom,$red-600,$red-700);
}
.light-black-gradient{
  background-image: linear-gradient(to right bottom,$light-black-bright,$light-black);
}
.black-bottom-right{
  background-image: $black-bottom-right;
}
.black-bottom-left{
  background-image: $black-bottom-left;
}
.black-bottom{
  background-image: $black-bottom;
}

// SHADOWS
.text-shadow-1 {
  text-shadow: rgb(0, 0, 0) -8px 7px 20px;
}

// Extends opened navbar to full height
@include media-breakpoint-down(lg) {
    .navbar-nav .centering-div {
        height: 100vh;
    }
  }

.full-height {
    height: 100vh;
}
.mb-7 {
  margin-bottom: 7rem;
}


 