// CUSTOM FONTS
.font-Righteous {
    font-family: 'Righteous', cursive;
}
// COLORS
$light-black: #121212;
$light-black-bright: #272727;

.bg-dark-red {
    background-color: $red-900;
}
.bg-red-800 {
  background-color: $red-800;
} 
.bg-red-700 {
  background-color: $red-700;
}
.bg-red-600 {
  background-color: $red-600;
}   
.bg-gray-900 {
  background-color: $gray-900;
}
.bg-cream {
  background-color: #fff4ec;
} 
.bg-gray-100 {
  background-color: $gray-100;
} 
.bg-black-light {
  background-color: $light-black;
} 
// GRADIENTS

.dark-red-gradient{
  background-image: linear-gradient( to bottom,$red-800,$red-900);
}
.light-red-gradient{
  background-image: linear-gradient(to right bottom,$red-600,$red-700);
}
.light-black-gradient{
  background-image: linear-gradient(to right bottom,$light-black-bright,$light-black);
}

// SHADOWS
.text-shadow-1 {
  text-shadow: rgb(44 11 14) -8px 7px 20px;
}

// Extends opened navbar to full height
@include media-breakpoint-down(lg) {
    .navbar-nav .centering-div {
        height: 100vh;
    }
  }

.full-height {
    height: 100vh;
}


 