#loading-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition:opacity 3s, height 0s linear 3s;
    //background-color: $light-black-bright;
    z-index: 10000;
    overflow: hidden;
    
  }
  #loading-container .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }
  
  #loading-container.hideLoadingScreen{
    opacity:0;
    height:0%;
    
  }
  #loader-image{
    opacity: 0;
    z-index: 10010;
  }