// bootstrap source scss
@import "../node_modules/bootstrap/scss/bootstrap";
@import "scrollbar.scss";
@import "custom-utility.scss";
@import "loading-screen.scss";
@import "effects.scss";
@import "gallery.scss";





header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(44, 11, 14, 0.4) 100%),url("../dist/img/camera1-bw.jpg");
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(44, 11, 14, 0.4) 100%),url("../dist/img/fotoaparat4.jpg");

    background-position:center;
    background-size: cover;
    height: 100vh;
}

.filler-section {
  
  min-height: 70vh;
  background-image: url("./img/objektiv-bwr.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  &.filler-section-1 {
    background-image: url("./img/objektiv-bwr.jpg");
  }
  &.filler-section-2 {
    background-image: url("./img/music-studio-team3.jpg");
  }
  &.filler-section-3 {
    background-image: url("./img/ideas.jpg");
    min-height: 100vh;
    background-position: top;
  }
}

.face-photo {
  border-radius: 50%;
}



.arrow-down {
  position: absolute;
  bottom:1rem;
  left: 50%;
  transform: translateX(-50%);
  color:$red-100;
}

.call-to-action-btn {
  @extend .bg-danger;
  @extend .p-3;
  @extend .font-Righteous;
  @extend .fs-4;
  border-radius: 10px;
  color: white;
  display: inline-block;
  text-decoration: none;
  
  &:hover{
    @extend .rotate10;
  }
  &:hover, &:link, &:visited {
    color: white;
  }
}



// sass --watch ./scss/main.scss ./css/main.css
// sass  ./scss/main.scss ./css/main.css