// bootstrap source scss
@import "../node_modules/bootstrap/scss/bootstrap";
@import "scrollbar.scss";
@import "custom-utility.scss";
@import "loading-screen.scss";
@import "effects.scss";





header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(44, 11, 14, 0.4) 100%),url("../dist/img/camera1.jpg");
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, rgba(44, 11, 14, 0.4) 100%),url("../dist/img/fotoaparat2.jpg");

    background-position:center;
    background-size: cover;
    height: 100vh;
}

.arrow-down {
  position: absolute;
  bottom:1rem;
  left: 50%;
  transform: translateX(-50%);
  color:$red-100;
}

.call-to-action-btn {
  @extend .bg-danger;
  @extend .p-3;
  @extend .font-Righteous;
  @extend .fs-4;
  border-radius: 10px;
  color: white;
  display: inline-block;
  text-decoration: none;
  
  &:hover{
    @extend .rotate10;
  }
  &:hover, &:link, &:visited {
    color: white;
  }
}



// sass --watch ./scss/main.scss ./css/main.css
// sass  ./scss/main.scss ./css/main.css